<html>
    <body>
        <form action="/produtos/salva" method="POST">
            <div>
                <label for="titulo">Titulo</label> 
                <input type ="text" name="titulo id="titulo" placeholder="Digite seu Titulo"/>
            </div>
            <div>
                <label for="preco">Preço</label> 
                <input type ="text" name="preco id="preco" placeholder="Digite seu Preço"/>
            </div>
            <div>
                <label for="descricao">Descricçao</label> 
                <textarea cols="20" rows="10" name="descricao id="descricao" placeholder="Digite sua Descrição"></textarea>
            </div>
            <input type="submit" value="gravar"/>
        </form>
    </body>
</html>